In [1]:
import xarray as xr
import numpy as np
import pandas as pd

In [2]:
out_data = pd.read_csv('./pol_t=60.csv', skiprows=None)
out_data

,U:0,U:1,U:2,alpha.water,p_rgh,tau.water:0,tau.water:1,tau.water:2,tau.water:3,tau.water:4,tau.water:5,theta.water:0,theta.water:1,theta.water:2,theta.water:3,theta.water:4,theta.water:5,Points:0,Points:1,Points:2
0,0.000000,0.000000e+00,0.000000e+00,1.0,-1.727100e+00,0.600340,-3.166600e-08,0,0.100080,0,0,2.839600,-0.570590,0,0.579090,0,0,29,0.000,0.005
1,0.011778,7.448700e-09,-5.720100e-28,1.0,-1.727100e+00,0.595770,-2.164800e-08,0,0.099689,0,0,2.835500,-0.570220,0,0.579530,0,0,29,0.004,0.005
2,0.023556,1.489700e-08,-1.144000e-27,1.0,-1.727100e+00,0.591200,-1.162900e-08,0,0.099294,0,0,2.831500,-0.569850,0,0.579960,0,0,29,0.008,0.005
3,0.035333,2.234600e-08,-1.716000e-27,1.0,-1.727100e+00,0.586640,-1.610500e-09,0,0.098898,0,0,2.827500,-0.569480,0,0.580400,0,0,29,0.012,0.005
4,0.047111,2.979500e-08,-2.288000e-27,1.0,-1.727100e+00,0.582070,8.408100e-09,0,0.098503,0,0,2.823400,-0.569110,0,0.580830,0,0,29,0.016,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0.558870,-1.789300e-02,-1.232700e-21,0.0,-2.382800e-06,0.000598,-4.345700e-04,0,-0.000186,0,0,0.017772,-0.013146,0,-0.005561,0,0,29,3.984,0.005
997,0.558840,-1.791800e-02,-1.259700e-21,0.0,-1.787100e-06,0.000598,-4.288700e-04,0,-0.000177,0,0,0.017764,-0.012970,0,-0.005294,0,0,29,3.988,0.005
998,0.558820,-1.794300e-02,-1.286600e-21,0.0,-1.191400e-06,0.000598,-4.231700e-04,0,-0.000168,0,0,0.017757,-0.012793,0,-0.005027,0,0,29,3.992,0.005
999,0.558790,-1.796700e-02,-1.313600e-21,0.0,-5.956800e-07,0.000597,-4.174700e-04,0,-0.000159,0,0,0.017749,-0.012617,0,-0.004760,0,0,29,3.996,0.005
1000,0.558760,-1.799200e-02,-1.340500e-21,0.0,0.000000e+00,0.000597,-4.117700e-04,0,-0.000150,0,0,0.017741,-0.012440,0,-0.004494,0,0,29,4.000,0.005

### First interpolate Ux

In [7]:
len(out_data['U:0'])

1001

In [13]:
save_file = './U0.xy'
u0_arr = out_data['U:0']
vert_arr = out_data['Points:1']
# the overwrite mode is used here
with open(save_file, "w") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()

### Interpolation of other arrays

In [19]:
# p_rgh: no need to interpolate
# tau.water
save_file = './tau.water-0.xy'
u0_arr = out_data['tau.water:0']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './tau.water-1.xy'
u0_arr = out_data['tau.water:1']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './tau.water-2.xy'
u0_arr = out_data['tau.water:2']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './tau.water-3.xy'
u0_arr = out_data['tau.water:3']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './tau.water-4.xy'
u0_arr = out_data['tau.water:4']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './tau.water-5.xy'
u0_arr = out_data['tau.water:5']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()

In [3]:
# theta.water
save_file = './theta.water-0.xy'
u0_arr = out_data['theta.water:0']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './theta.water-1.xy'
u0_arr = out_data['theta.water:1']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './theta.water-2.xy'
u0_arr = out_data['theta.water:2']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './theta.water-3.xy'
u0_arr = out_data['theta.water:3']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './theta.water-4.xy'
u0_arr = out_data['theta.water:4']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()
save_file = './theta.water-5.xy'
u0_arr = out_data['theta.water:5']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()

In [4]:
# alpha
save_file = './alpha.water.xy'
u0_arr = out_data['alpha.water']
vert_arr = out_data['Points:1']
with open(save_file, "a") as f:
    f.write("("+'\n')
    for item in range(len(u0_arr)):
        f.write("("+str(vert_arr[item])+" "+str(u0_arr[item])+")"+'\n')
    f.write(")")
    f.close()